<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <title>Account Page</title>

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include('partials/_header') %>
    <h3 id="account-page-title">
      <% if (templateVars[0] !== undefined) { %>
        Welcome, <%= templateVars[0].user_name %>
      <% } else { %>
        Welcome, friend!
      <% } %>
    </h3>
      <table id="account-table">
        <tbody id="account-table-body">
          <tr class="account-table-row">
            <!-- <th class="account-table-text-header">Create a new quiz:</th> -->
            <td><img class="account-page-image" src="https://variety.com/wp-content/uploads/2018/08/alex-trebek-jeopardy.jpg" alt="New quiz picture" /></td>
            <th><a href="/quiz/new"><button class="btn btn-primary btn-med btn-nolist account-btn">Create a new quiz</button></a></th>
          </tr>
          <tr class="account-table-row">
            <!-- <th class="account-table-text-header">Your created quizzes:</th> -->
            <td><img class="account-page-image" src="https://www.rollingstone.com/wp-content/uploads/2020/11/alex-trebek-obit.jpg" alt="Your quizzes picture" /></td>
            <th><a href="/quiz/my-quizzes"><button class="btn btn-primary btn-med account-btn">View your created quizzes</button></a></th>
          </tr>
          <tr class="account-table-row">
            <!-- <th class="account-table-text-header">Your quiz results:</th> -->
            <td><img class="account-page-image" src="https://www.indiewire.com/wp-content/uploads/2020/11/Alex-Trebek-Jeopardy.jpg" alt="Your quiz results picture" /></td>
            <th><a href="/quiz/my-quiz-results"><button class="btn btn-primary btn-med account-btn">View your quiz scores</button></a></th>
          </tr>
          <tr class="account-table-row">
            <!-- <th class="account-table-text-header">View public quizzes</th> -->
            <td><img class="account-page-image" src="https://pyxis.nymag.com/v1/imgs/66b/ba3/064ec3b41242a82ec2e04f4a7841e4d5c9-norm-macdonald-snl-jeopardy.2x.rsocial.w600.jpg" alt="View public quizzes picture" /></td>
            <th><a href="/quiz/public"><button class="btn btn-primary btn-med btn-nolist account-btn">View public quizzes</button></a></th>
          </tr>

          <!-- can copy from tinyapp account page to find out how to display all their created quizzes (it's similar to displaying their created links) -->

        </tbody>
      </table>
    </main>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
