<!DOCTYPE html>
<html lang="en">

<head>

  <title>Quiz</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/quiz.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>


    <div class="right">
      <div class container>
        <div class="title-block">
          <h2>What caused the downfall of the jedi order?
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2>Palpatine</h2>
          </div>
          <div class="possible-answer">
            <h2>Anakin Skywalker</h2>
          </div>
          <div class="possible-answer">
            <h2>The jedi order</h2>
          </div>
          <div class="possible-answer">
            <h2>Captain Rex</h2>
          </div>
        </div>
        <div class="title-block">
          <h2>What caused the downfall of the jedi order?
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2>Palpatine</h2>
          </div>
          <div class="possible-answer">
            <h2>Anakin Skywalker</h2>
          </div>
          <div class="possible-answer">
            <h2>The jedi order</h2>
          </div>
          <div class="possible-answer">
            <h2>Captain Rex</h2>
          </div>
        </div>
        <div class="title-block">
          <h2>What caused the downfall of the jedi order?
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2>Palpatine</h2>
          </div>
          <div class="possible-answer">
            <h2>Anakin Skywalker</h2>
          </div>
          <div class="possible-answer">
            <h2>The jedi order</h2>
          </div>
          <div class="possible-answer">
            <h2>Captain Rex</h2>
          </div>
        </div>
        <div class="title-block">
          <h2>What caused the downfall of the jedi order?
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2>Palpatine</h2>
          </div>
          <div class="possible-answer">
            <h2>Anakin Skywalker</h2>
          </div>
          <div class="possible-answer">
            <h2>The jedi order</h2>
          </div>
          <div class="possible-answer">
            <h2>Captain Rex</h2>
          </div>
        </div>
      </div>
      </div>


    <div class="left">
      <div class="quiz-name">
        <h1>Star Wars prequels quiz</h1>
      </div>
      <div class="quiz-desc">
        <h3>A quiz to test your knowledge of the superior Star Wars films</h3>
      </div>
      <a class="dynamic-button">
        <h2>button</h2>
      </a>
      <div class="answer-tracker">
        <h1>0/10</h1>
      </div>
    </div>



</body>

</html>
