h1{
  font-weight:lighter;
  color:rgb(89, 88, 88);
  font-size:3rem
}
.container {
display:flex;
flex-wrap:nowrap;
}

.home-page-left {
width:50vw;
height:90vh;
//background-color:rgba($color: #e4de97, $alpha: 0.5);
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
background-color: white;
}
.home-text-left {
  padding:4%;
}
.home-text-right{
  text-align:center;
  //margin-top:-50vh;
  padding:4%;
}
.home-page-right {
width:50vw;
height:90vh;
background-color:rgba(233, 151, 80, 0.37);
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
}
.home-text-right{
  width: 80%;
  background-color: white;
  padding: 0.3em;
  border-radius: 5px;
  text-size-adjust: auto;
  word-wrap: break-word;
}
.home-text-left{
  width: 80%;
  background-color:rgba(233, 151, 80, 0.37);
  padding: 0.3em;
  border-radius: 5px;
  text-size-adjust: auto;
  word-wrap: break-word;
}
.home-text-left:hover{
  cursor:default;
}
.home-text-right:hover{
  cursor:default;
}
.public-quiz-button{
  display:flex;
  padding:0.2em 2.6em;
  font-size:2em;
  font-weight:lighter;
  color:rgb(89, 88, 88);
  background-color: white;
  gap:100px;
  margin: 8px;
  border-radius:4px;
}
.public-quiz-button:hover{
  cursor:pointer;
  box-shadow: 1px 1px 10px rgb(183, 182, 182);
}
.home-page-buttons{
  flex-direction: column;
  display: flex;
  align-items: center;
}
.home-page-button{
background-color:rgba(233, 151, 80, 0.37);
padding: 0.8em 2em;
border-radius: 30px;
color: darkslategrey;
font-size: larger;
margin: 5px;
}
.home-page-button:hover{
  box-shadow: 1px 1px 10px rgb(183, 182, 182);
}
@media(max-width:768px) {
.home-page-left{
  width:100vw;
  height:auto;
  margin-top:4vh;

}
.home-page-right{
  width:100vw;
  height:auto;
  margin-top:4vh
}

.container{
  flex-wrap:wrap;
}
}
