body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
}

.email-input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(175, 176, 177);

  border: 6px solid grey;
  padding: 10px;
}

.register-for-account-message {
  color: blue;
  padding: 5px;
}

#account-page-title {
  margin-top: 50px;
  margin-bottom: 20px;
}

.account-table-row {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 4px solid black;
  border-radius: 14px;
  background-color: lightgray;
  margin: 4px;
  padding: 16px;
}

.account-table-text-header {
  color: black;
  font-size: 22px;
  padding: 14px;
}

.account-table-link-list {
  padding: 14px;
}

@media all and (min-width: 1024px) {
  .email-input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 176, 177);

    border: 6px solid grey;
    padding: 10px;
  }

  #account-table-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    // padding-top: 10px;
    // padding-bottom: 10px;
  }

  .account-table-row {
    position: relative;
    margin: auto;
    width: 40vw;
    height: 30vh;
  }

  #account-page-title {
    margin-top: 0px;
    margin-bottom: 40px;
  }

  .btn-nolist {
    margin-top: 10vh
  }

}
