.body-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Caveat', cursive;
  font-size: 20px;

  #description {
    resize: none;
    width: 100%;
    max-width: 100%;
  }

  .question-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
    background-color: #D9D9D9;
    padding: 30px;
  }
}
