body {
  display: flex;
  flex-direction: column;
  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
  .body-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    background-color: transparent;
    border: 3px black;
    h3 {
      margin-bottom: 0px;
    }

    textarea {
      resize: none;
      width: 99%;
      border-width: 2px;
    }

    .question-container {
      display: flex;
      flex-direction: column;
      border: 2px solid black;
      border-radius: 10px;
      min-width: 760px;
      height: auto;
      background-color: #D9D9D9;
      padding: 30px;
      justify-content: space-between;
    }

    .question {
      padding: 5px;
      border: 2px solid black;
      border-radius: 10px;
      margin-top: 10px;
    }

    .save-reset {
      margin: 20px;
      display: flex;
      justify-content: space-between;
    }

    .buttons {
      text-decoration: none;
      border: none;
      font-family: 'Caveat', cursive;
      font-size: 20px;
      background-color: aqua;
      color: black;
      width: 150px;
      text-align: center;
    }

    .buttons:hover {
      border-color: dodgerblue;
      box-shadow: 0 0 8px 0 dodgerblue;
    }

    .input-text {
      border: 2px solid #aaa;
      border-radius: 4px;
      margin: 3px;
      outline: none;
      padding: 8px;
      box-sizing: border-box;
      transition: .3s;

    }

    .input{
      width: 300px;
    }

    .input-text:focus {
      border-color: dodgerblue;
      box-shadow: 0 0 8px 0 dodgerblue;
    }
  }
}

@media(max-width:890px) {
  body {
    .body-container {
      .input {
        display: block;
        width: 99%;
      }
    }
  }
}


